/*  */
* {
  margin: 0;
  padding: o;
}
body {
  font-family: poppins;
  background-color: #0c2245;
  color: #faf0e4;
}
/* Untility  */
.bold {
  font-weight: bold;
}
.light {
  color: #99c4fc;
}
.padding {
  padding: 10px;
}
.white {
  color: white;
  text-decoration: none;
}

.large{
  font-size: x-large;
}

.height{
  height: 300px;
}
a{
  text-decoration: none;
}

.sub-title{
  margin-top: 40px;
    font-size:60px;
    margin-left:100px ;
}
.sub-title1{
  margin-top: 40px;
  font-size:60px;
}
.height{
  font-size: 12px;
}
@media screen and (min-width:1024px){
  .sub-title{
    margin-left: 648px;
  }
  .sub-title1{
    margin-left: 450px;
  }
}